
body{
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;

}
.wrapper{
    width: 80%;
    margin:auto;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
   

}
article{
        background-color: white;
        margin-bottom: 50px;
        padding: 20px;
        font-weight: bold;
    
    
}
.entry-content{
    font-weight: normal;
 }
.entry-meta{
    display: inline;
    font-size: 14px;
    font-weight: 400;

}
.entry-title{
    font-size: 30px;
    font-weight: 800;
}
.author a,.posted-on a,
.entry-title a,
.entry-footer a,
.more-link{
   text-decoration: none;
   color:black;
}
.entry-footer{
    
    text-transform: uppercase;
    border: 1px solid #009cf3;
    padding: 5px;
    color: white;
    display: inline-block;
    font-size: 12px;
    border-width: auto;
    background-color: #009cf3;

}
.entry-footer a{
    text-decoration: none;
    color:white;
 }
 .more-link{
    display:inline-block;
    font-weight: bold;
    margin-top: 21px;
    border-bottom: 2px solid #009cf3;

 }


